{{ define "main" }}

    <section>
        <h2 id="the">THE</h2>
        <h1>BUNYOLS</h1>
        <h2>LIBRARY</h2>
    </section>
    
    <section id="quote">
        <p>When you've found it<br>write it down.</p>
        <p>Charles Dickens.</p>
    </section>

    <h1 id="brake">How</h1>
    <h2>it works</h2>
    
    <article>
        <div>
            <h1>01</h1>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
   
       <div>
           <h1>02</h1>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       </div>

       <div>
            <h1>03</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </article>
    
{{ end }}