body {
  margin: 0;
  padding: 0;
  font-family: Verdana, "Dejavu Sans", Tahoma, sans-serif;
  font-size: 2.2vw;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 30px;
}

main {
  margin: 1% 2%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 8vw;
  text-align: center;
  font-weight: normal;
  display: block;
}

h2 {
  margin: 0;
  margin-left: 16%;
  font-size: 5vw;
  text-align: center;
  font-weight: normal;
  margin-top: -2.5%;
}

#the {
  margin-top: 5%;
  margin-bottom: -0.7%;
  margin-left: -32%;
  font-size: 3vw;
}

#brake {
  margin-top: 23%;
}

section + section {
  width: 50%;
  height: 15%;
  background-color: black;
  margin: 5% auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: white;
  font-size: 3.2vw;
}

section > p + p {
  color: white;
  float: right;
  position: absolute;
  bottom: 0;
  right: 5%;
  display: block;
  font-size: 1.5vw;
}

article p {
  color: black;
  font-size: 1.3vw;
  padding: 15%;
}

article h1 {
  font-size: 8vw;
  text-align: center;
  margin-bottom: -5%;
}

article {
  display: flex;
  justify-content: center;
  padding: 5%;
}
