.logo {
    font-size: 2vw;
    text-align: center;
}
#bunyols {
    margin-top: -4%;
    margin-left: 2%;
    font-size: 4vw;
}
#library {
    margin-top: -5%;
    margin-left: 10%;
}


#how {
    font-size: 4vw;
    margin-top: -4%;
    margin-left: 2%;
    margin-bottom: -3%;
}
#works {
    margin-left: 7%;
}

#cita {
    width: 70vh;
    height: 15vh;
    background-color: black;
    margin: 10% auto 13%;
    position: relative
}

#quote {
    color: white;
    font-size: 3.2vw;
}


#author {
    color: white;
    font-size: 1vw;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

#container {
    display: flex;
    justify-content: center;
}

.step-header {
    font-size: 8vw;
    text-align: center;
    margin-bottom: -5%;
}

.step {
    font-size: 1vw;
    width: 15%;
    padding: 5%;
}

