footer {
  background-color: black;
  width: 95vw;
  height: 6vh;
  margin: 2vh 2.5vw;
}

header {
  background-color: black;
  width: 95vw;
  display: flex;
  height: 6vh;
  margin: 2vh 2.5vw;
}

nav {
  margin-left: 80%;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.right {
  margin-left: 60%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.left {
  margin-left: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.6vw;
}

.left > span {
  width: 80%;
}

.left > span + span {
  width: 60%;
}

span {
  padding: 2%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

span + span {
  border-left: solid 2px white;
}
