footer {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

header {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

nav {
  margin-left: 63%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

footer nav {
  margin-left: 68%;
}

.right {
  margin-left: 43%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.left {
  margin-left: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.6vw;
}

.left > span {
  width: 80%;
}

.left > span + span {
  width: 60%;
}

span {
  padding: 2% 15%;
  flex: 1 1 auto;
  text-align: center;
  height: 100%;
}

span + span {
  border-left: solid 1px white;
}
