body {
  margin: 0;
  padding: 0;
  font-family: Verdana, "Dejavu Sans", Tahoma, sans-serif;
  font-size: calc(15px + 0.390625vw);
  max-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 55vw 40vw;
  width: 95vw;
  height: 80vh;
  margin: 0 2.5vw;
}

article {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  grid-template-rows: max-content;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

object {
  width: 100%;
}

h1 {
  font-size: 3em;
  margin: 0;
  position: relative;
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  margin: 0;
}

h2::after,
h1::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 20%;
  border-bottom: 3px solid black;
}

h1::after {
  width: 40%;
}

h3 {
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

ul {
  font-size: 1.5em;
  margin: 0 10%;
  padding: 0;
  list-style: none;
  position: relative;
}

ul:after {
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 3px solid black;
  width: 55%;
  margin-left: 30%;
}

div {
  margin: 5vh 0 5vh 5vw;
}
